name: build-packages

on:
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.arch }}-${{ matrix.branch }} build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch:
          - arm_cortex-a7_neon-vfpv4
          - aarch64_cortex-a53
          - aarch64_cortex-a72
          - aarch64_cortex-a76
          - aarch64_generic
          - mips_24kc
          - mipsel_24kc
          - mipsel_24kc_24kf
          - mipsel_74kc
          - mipsel_mips32
          - mips64_octeonplus
          - i386_pentium4
          - x86_64
        branch:
          - openwrt-23.05
          - openwrt-24.10
          - SNAPSHOT
        exclude:
          - arch: aarch64_cortex-a76
            branch: openwrt-23.05
          - arch: mips_4kec
            branch: SNAPSHOT

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: build
        uses: openwrt/gh-action-sdk@main
        env:
          ARCH: ${{ matrix.arch }}-${{ matrix.branch }}
          FEEDNAME: tempstatus
          PACKAGES: luci-app-temp-status
          NO_REFRESH_CHECK: true
          NO_DOWNLOAD: true   # 跳过 download 阶段，避免报错

      - name: upload
        uses: actions/upload-artifact@v4
        with:
          name: luci-app-temp-status_${{ matrix.arch }}-${{ matrix.branch }}
          path: |
            bin/packages/${{ matrix.arch }}/tempstatus/luci-app-temp-status*.ipk
            bin/packages/${{ matrix.arch }}/tempstatus/luci-i18n-temp-status-*.ipk
